

{{ define "main" }}




<h4>  Hello API this a new layout  </h4>
<img src="{{.Params.Image | absURL }}" alt="{{site.Params.author}}" class="img-fluid w-100 mb-4">




{{ .Content }}
<!------- <button onclick = "myFunction()" id="youtube"> API Element </button> --->
  <!-------  <button onclick = "myFunction()" id=""> API Element </button>  ----->

<div class="container-fluid"   > 
    <div class="row">  
    <div class="col-md-3" >
    
    </div>
    
    
    <div class="col-md-7   ">
    
    
    <a id="myAnchor0" href=""> <img  id ="myImg0"  src="" /> </a>
 
    <h6 id ="tiTle0"> </h6>

      <a id="myAnchor1" href="">    <img    id ="myImg1"  src=""/> </a>
     
    <h6 id ="tiTle1"> </h6>

       <a id="myAnchor2" href="">  <img   id ="myImg2"  src="" /> </a>
       <h6 id ="tiTle2"> </h6>
    
       <a id="myAnchor3" href="">  <img     id ="myImg3"  src="" /> </a>
       <h6 id ="tiTle3"> </h6>
       <a id="myAnchor4" href="">   <img   id ="myImg4"  src="" /> </a>
        <h6 id ="tiTle4"> </h6>
       <a id="myAnchor5" href="">   <img   id ="myImg5"  src="" /> </a>
        <h6 id ="tiTle5"> </h6>
       <a id="myAnchor6" href="">   <img   id ="myImg6"  src="" /> </a>
       <h6 id ="tiTle6"> </h6>
       <a id="myAnchor7" href="">   <img   id ="myImg7"  src="" />  </a>
       <h6 id ="tiTle7"> </h6>
       <a id="myAnchor8" href="">   <img   id ="myImg8"  src="" /> </a>
       <h6 id ="tiTle8"> </h6>
       <a id="myAnchor9" href="">   <img   id ="myImg9"  src="" /> </a>
       <h6 id ="tiTle9"> </h6>
    </div>
    
    <div class="col-md-2">
    
    </div>
    
        </div>
    </div>
     
    









{{ end }}










